<mat-card class="container-fluid">
  <mat-card-header>
    <div>Add a SubheadGl</div>
  </mat-card-header>
  <mat-divider></mat-divider>

  <div class="container-fluid mt-4">
    <form (ngSubmit)="submitGlSub()">
      <div class="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left">Gl Code<span class="warning">*</span></label>
              </div>
              <div class="col-md-6 col-8 form-column">
                <input type="text"  [(ngModel)]="glCode" name="glCode">
              </div>
              <div class="col-md-1 col-2">
                <mat-icon (click)="glSubheadLookup()">search</mat-icon>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left">Subhead Code<span class="warning">*</span></label>
                
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="glSubheadCode" oninput ="this.value=this.value.toUpperCase()"
                [(ngModel)]="glSubheadCode" type="text"  required maxlength="6">
                <span *ngIf="this.show == true" style="color: red;">Subhead Code already exists!!</span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left">Subhead Description<span class="warning">*</span></label>
              </div>
              <div class="col-md-6 col-8 form-column">
                <input type="text" name="glSubheadDescription" oninput="this.value=this.value" [(ngModel)] ="glSubheadDescription">
              </div>
            </div>
          </div>
        </div>
  
        <div class="row container-fluid">
          <div class="col-md-1 offset-md-10 col-4">
            <button mat-raised-button color='warn' class="btn bg-warning go mx-auto d-block" type="reset">
               Reset
            </button>
          </div>
          <div class="col-md-1 col-4">
            <button mat-raised-button class="btn bg-success go mx-auto d-block text-light" type="submit">
              Submit
            </button>
  
          </div>
  
        </div>
      </div>
  
    </form>

  </div>

</mat-card>