<mat-card class="container-fluid">
  <div>
    <h3 class="text-center">Add An Interest</h3>
  </div>

  <mat-divider></mat-divider>
  <form class="form" (ngSubmit)="submitInterest()">
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-5 col-sm-12 form-column">
              <label class="form-label start pull-left"
                >Interest Code<span class="warning">*</span></label
              >
            </div>
            <div class="col-md-6 col-8 form-column">
              <input name="interestCode" oninput ="this.value=this.value.toUpperCase()" maxlength="6"
              [(ngModel)]="interestCode" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-5 col-sm-12 form-column">
              <label class="form-label start pull-left"
                >Currency<span class="warning">*</span></label
              >
            </div>
            <div class="col-md-6 col-8 form-column">
              <input name="currency" oninput ="this.value=this.value.toUpperCase()"
              [(ngModel)]="currency" type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-5 col-sm-12 form-column">
              <label class="form-label start pull-left"
                >Start Date<span class="warning">*</span></label
              >
            </div>
            <div class="col-md-6 col-8 form-column">
              <input name="startDate"
              [(ngModel)]="startDate" type="date" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-5 col-sm-12 form-column">
              <label class="form-label start pull-left"
                >End Date<span class="warning">*</span></label
              >
            </div>
            <div class="col-md-6 col-8 form-column">
              <input name="endDate"
              [(ngModel)]="endDate" type="date" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-5 col-sm-12 form-column">
              <label class="form-label start pull-left"
                >Full/Differential<span class="warning">*</span></label
              >
            </div>
            <div class="col-md-6 col-8 form-column">
              <select name="fullDiff"
              [(ngModel)]="fullDiff">
                <option value="F" selected>FULL</option>
                <option value="D">DIFFERENTIAL</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div>
        <h4 class="text-center">Credit Amount Slabs</h4>

        <div class="row" class="row" *ngIf="fullDiff=='F'">
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label
                for="acname"
                class="col-md-5 col-form-label col-form-label-sm text-left"
                >From</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control"  name="cfrom"
                [(ngModel)]="cfrom"/>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >To</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control" name="cto"
                [(ngModel)]="cto"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >Rate</label
              >
              <div class="col-md-7">
                <input
                  type="number"
                  step=".00000001"
                  required
                  class="form-control"
                  name="crate"
                [(ngModel)]="crate"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="iacc" class="col-md-4 col-form-label text-left"
                >Dr/Cr</label
              >
              <div class="col-md-6">
                <select readonly name="cdrCr"
                [(ngModel)]="cdrCr">
                  <option value="C">CREDIT</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="fullDiff=='D'">
        <div *ngFor="let c of cslabs; let i=index">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label
                for="acname"
                class="col-md-5 col-form-label col-form-label-sm text-left"
                >From</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control"  name="cfrom{{i}}"
                [(ngModel)]="c.fromAmount"/>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >To</label
              >
              <div class="col-md-7">
                <input type="number" required class="form-control"  name="cto{{i}}"
                [(ngModel)]="c.toAmount"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >Rate</label
              >
              <div class="col-md-7">
                <input
                  type="number"
                  step=".00000001"
                  required
                  class="form-control"
                  name="crate{{i}}"
                  [(ngModel)]="c.rate"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="iacc" class="col-md-4 col-form-label text-left"
                >Dr/Cr</label
              >
              <div class="col-md-6">
                <select readonly  name="cdrCr{{i}}"
                [(ngModel)]="c.drCr">
                  <option value="C">CREDIT</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row container m-0 p-0 mb-2 mt-2" *ngIf="i==clength-1 && fullDiff=='D'">
            <div class="col-md-1 offset-md-10 col-4">
              <button type="button" class="btn btn-danger" (click)="removeCSlab()">-</button>
            </div>
            <div class="col-md-1 col-4">
              <button type="button" class="btn btn-success" (click)="addCSlab()">+</button>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h4 class="text-center">Debit Amount Slabs</h4>

        <div class="row" *ngIf="fullDiff=='F'">
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label
                for="acname"
                class="col-md-5 col-form-label col-form-label-sm text-left"
                >From</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control" name="dfrom"
                [(ngModel)]="dfrom"/>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >To</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control" name="dto"
                [(ngModel)]="dto"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >Rate</label
              >
              <div class="col-md-7">
                <input
                  type="number"
                  step=".00000001"
                  required
                  class="form-control"
                  name="drate"
                [(ngModel)]="drate"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="iacc" class="col-md-4 col-form-label text-left"
                >Dr/Cr</label
              >
              <div class="col-md-6">
                <select readonly name="ddrCR"
                [(ngModel)]="ddrCr">
                  <option value="D">DEBIT</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="fullDiff=='D'">
       <div *ngFor="let d of dslabs; let i=index">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label
                for="acname"
                class="col-md-5 col-form-label col-form-label-sm text-left"
                >From</label
              >
              <div class="col-md-7">
                <input type="number" readonly class="form-control"  name="dfrom{{i}}"
                [(ngModel)]="d.fromAmount"/>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >To</label
              >
              <div class="col-md-7">
                <input type="number" required class="form-control"  name="dto{{i}}"
                [(ngModel)]="d.toAmount"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="acname" class="col-md-5 col-form-label text-left"
                >Rate</label
              >
              <div class="col-md-7">
                <input
                  type="number"
                  step=".00000001"
                  required
                  class="form-control"
                  name="drate{{i}}"
                  [(ngModel)]="d.rate"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row mt-1">
              <label for="iacc" class="col-md-4 col-form-label text-left"
                >Dr/Cr</label
              >
              <div class="col-md-6">
                <select readonly  name="ddrCr{{i}}"
                [(ngModel)]="d.drCr">
                  <option value="D">DEBIT</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row container m-0 p-0 mt-2"  *ngIf="i==dlength-1 && fullDiff=='D'">
            <div class="col-md-1 offset-md-10 col-4">
              <button type="button" class="btn btn-danger" (click)="removeDSlab()">-</button>
            </div>
            <div class="col-md-1 col-4">
              <button type="button" class="btn btn-success" (click)="addDSlab()">+</button>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>

      <div class="row container-fluid mt-4">
        <div class="col-md-1 offset-md-10 col-4">
          <button
            mat-raised-button
            color="warn"
            class="btn go mx-auto d-block"
            type="reset"
          >
            Reset
          </button>
        </div>

        <div class="col-md-1 col-4">
          <button
            mat-raised-button
            class="btn bg-success go mx-auto d-block text-light"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card>

