<mat-card class="container-fluid">
  <div>
    <h3 class="text-center">Add A Loan Product</h3>
  </div>

  <mat-divider></mat-divider>
  <form class="form" (ngSubmit)="submitProduct()">
    <!-- <mat-tab-group>
      <mat-tab label="Product Details">
        <div class="container-fluid mt-4 mb-2">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Scheme Code<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="schemeCode"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="schemeCode" maxlength="6"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Product Description<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    type="text"
                    name="productDescription"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="productDescription"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Branch Code<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    readonly
                    name="solCode"
                    [(ngModel)]="solCode"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-1 col-2">
                  <mat-icon (click)="branchLookup()">search</mat-icon>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Interest Code<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    readonly
                    name="interestCode"
                    [(ngModel)]="interestCode"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-1 col-2">
                  <mat-icon (click)="interestLookup()">search</mat-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Interest Base<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <select
                    readonly
                    name="interestBase"
                    [(ngModel)]="interestBase"
                  >
                    <option value="D">DAILY</option>
                    <option value="W">WEEKLY</option>
                    <option value="F">FORTNIGHTLY</option>
                    <option value="M">MONTHLY</option>
                    <option value="Q">QUARTERLY</option>
                    <option value="A">ANNUALLY</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Calculation Base<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <select
                    readonly
                    name="calculationBase"
                    [(ngModel)]="calculationBase"
                  >
                    <option value="D">DAILY</option>
                    <option value="W">WEEKLY</option>
                    <option value="F">FORTNIGHTLY</option>
                    <option value="M">MONTHLY</option>
                    <option value="Q">QUARTERLY</option>
                    <option value="A">ANNUALLY</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Repayment Account<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    readonly
                    name="repaymentAccount"
                    [(ngModel)]="repaymentAccount"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="col-md-1 col-2">
                  <mat-icon (click)="accountLookup()">search</mat-icon>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Repayment Base<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <select
                    readonly
                    name="repaymentBasis"
                    [(ngModel)]="repaymentBasis"
                  >
                    <option value="D">DAILY</option>
                    <option value="W">WEEKLY</option>
                    <option value="F">FORTNIGHTLY</option>
                    <option value="M">MONTHLY</option>
                    <option value="Q">QUARTERLY</option>
                    <option value="A">ANNUALLY</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Grace Period<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    
                    name="gracePeriod"
                    [(ngModel)]="gracePeriod"
                    type="number"
                    class="form-control"
                  />
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Grace Period Base<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <select
                    readonly
                    name="gracePeriodBase"
                    [(ngModel)]="gracePeriodBase"
                  >
                    <option value="D">DAILY</option>
                    <option value="W">WEEKLY</option>
                    <option value="F">FORTNIGHTLY</option>
                    <option value="M">MONTHLY</option>
                    <option value="Q">QUARTERLY</option>
                    <option value="A">ANNUALLY</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Minimum Amount<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="minimumAmount"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="minimumAmount"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Maximum Amount<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    type="number"
                    name="maxAmount"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="maxAmount"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Minimum Period(months)<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="minimumLoanPeriod"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="minimumLoanPeriod"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Maximum Period(months)<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    type="number"
                    name="maximumLoanPeriod"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="maximumLoanPeriod"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Multiple Factor<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="multipleFactor"
                    oninput="this.value=this.value.toUpperCase()"
                    [(ngModel)]="multipleFactor"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

          </div>


        </div>


      </mat-tab>
      <mat-tab label="Charges">
        <div class="container-fluid mt-4 mb-2">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Processing Fee<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="processingFee"
                    [(ngModel)]="processingFee"
                    type="number"
                    
                    class="form-control"
                  />
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Intake Fee<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    name="intakeFee"
                    [(ngModel)]="intakeFee"
                    type="number"
                    
                    class="form-control"
                  />
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-5 col-sm-12 form-column">
                  <label class="form-label start pull-left"
                    >Late Repayment Fee<span class="warning">*</span></label
                  >
                </div>
                <div class="col-md-6 col-8 form-column">
                  <input
                    type="number"
                    
                    name="lateRepaymentFee"
                    [(ngModel)]="lateRepaymentFee"
                    class="form-control"
                  />
                </div>

              </div>
            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Submission">
        <div class="row container-fluid mt-4 mb-2">
          <div class="col-md-1 offset-md-10 col-4">
            <button
              mat-raised-button
              color="warn"
              class="btn go mx-auto d-block"
              type="reset"
            >
              Reset
            </button>
          </div>

          <div class="col-md-1 col-4">
            <button
              mat-raised-button
              class="btn bg-success go mx-auto d-block text-light"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group> -->



<mat-tab-group>
  <mat-tab class="mat-tab" label="General Details">
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-12"> 
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Effective From</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <input  type="date" class="form-control" />
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Expiry Date.</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input  type="date" class="form-control" />
          </div>
        </div>
      </div>
    </div>
 
    <div class="row">
      <div class="col-md-6 col-sm-12"> 
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Principal Lossline A/c.</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <input  type="number" class="form-control" />
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Recovery Lossline A/c.</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input  type="number"class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12"> 
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Charge Off A/c.</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <input  type="number" class="form-control" />
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12"> 
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Number Generation</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <mat-radio-group class="pull-right" aria-label="Select an option">
              <mat-radio-button>System Generated No.</mat-radio-button>
              <mat-radio-button>Number Generation Code.</mat-radio-button>
            </mat-radio-group>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">System Generated No.</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <input  type="number" class="form-control" />
            </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
            <label class="start pull-left">Number Generation Code</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input  type="number" class="form-control" />
          </div>
        </div>
      </div>
    </div>


    </mat-tab>

    <mat-tab class="mat-tab" label="Interest Details">
      <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">P&L A/c. CCY<span class="warning">*</span></label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <mat-radio-group class="pull-right" aria-label="Select an option">
            <mat-radio-button>A/c. CCY</mat-radio-button>
            <mat-radio-button>Home CCY</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12"> 
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Int. Receivable  Applicable</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
         <mat-radio-group class="pull-right" aria-label="Select an option">
              <mat-radio-button>Yes</mat-radio-button>
              <mat-radio-button>No</mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Normal Int. Receivable A/c.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <input type="text" class="pull-right form-control"/>
           <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-sm-12"> 
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Penal Int. Receivable A/c.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
          <input type="text" class="pull-right form-control"/>
           <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Normal Int. Received A/c.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <input type="text" class="pull-right form-control"/>
           <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12"> 
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Penal Int. Received A/c.<span class="warning">*</span></label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
          <input type="text" class="pull-right form-control"/>
           <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Advance Int. A/c.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <input type="text" class="pull-right form-control"/>
           <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12"> 
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Dr.Int.Compounding Freq.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
          <select   class="form-control">
            <option value="" disabled>-- Select --</option>
            <option>Flag</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Int. Cal. Freq.-Dr.</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column dates ">

          <select   class="pull-right form-control">
            <option value="" disabled>-- Week --</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12"> 
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <label class="start pull-left">Apply Discounted Int. Rate</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <mat-radio-group class="pull-right" aria-label="Select an option">
            <mat-radio-button>Yes</mat-radio-button>
            <mat-radio-button>No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
          <!-- <label class="start pull-left">Int. Cal. Freq.-Dr.</label> -->
        </div>
        <div class="col-md-6 col-sm-12 form-column dates ">
            <select   class="pull-right-dates-3 form-control" >
              <option value="" disabled>-- Day --</option>
              
            </select>
            <select   class="pull-right-dates-3 form-control">
              <option value="" disabled>-- Date --</option>
             
            </select>
            <input type="text" class="pull-right-dates-3 form-control" placeholder="Holiday"/>

        </div>
      </div>
    </div>
  </div> 
</mat-tab>

</mat-tab-group>


    
  </form>
</mat-card>
