<mat-card class="container-fluid mt-4">
    <mat-card-header>
        <h3 text-center>Add A Branch</h3>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <div>
        <form action="" class="form" (ngSubmit)="submitBranch()" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="start pull-left">
                                Branch Code<span class="warning">*</span></label>
                        </div>
                        <div class="col-md-6 col-8 form-column">
                            <input type="text" [(ngModel)] ="solCode" name="solCode"
                            oninput="this.value=this.value.toUpperCase()" required maxlength="6">
                            <br>
                            <span *ngIf="this.show==true" style="color: red; font: size 6px;;">*Branch Code already exists!!</span>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="start pull-left">
                                Branch Description<span class="warning">*</span>
                            </label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="branchDescription" [(ngModel)] ="branchDescription" 
                            oninput="this.value=this.value" >
                        </div>

                    </div>

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="start pull-left">
                                Email<span class="warning">*</span></label>
                        </div>
                        <div class="col-md-6 col-8 form-column">
                            <input type="text" [(ngModel)] ="email" name="email"
                            oninput="this.value=this.value">
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="start pull-left">
                                Phone Number<span class="warning">*</span>
                            </label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="phoneNumber" [(ngModel)] ="phoneNumber" 
                            oninput="this.value=this.value" >
                        </div>

                    </div>

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="start pull-left">
                                Location<span class="warning">*</span>
                            </label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="location" [(ngModel)] ="location" 
                            oninput="this.value=this.value" >
                        </div>

                    </div>

                </div>

            </div>
            <div class="row container-fluid mt-4">
                <div class="col-md-1 offset-md-10 col-4">
                    <button mat-raised-button color="warn" class="btn go mx-auto d-block bg-warning" type="reset" style="width: 76.43px;">Reset</button>
                      </div>
                
                      <div class="col-md-1 col-4">
                    <button mat-raised-button class="btn bg-success go mx-auto d-block text-light" type="submit" style="width: fit-content;">Submit</button>
                      </div>

            </div>
        </form>
    </div>

</mat-card>