<div class="card card-header rounded-sm">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">USER ID</label><br>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" value="KAMAU" disabled readonly><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">BANK NAME</label><br>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" value="NORTH WEST" disabled readonly><br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">BRANCH ID</label><br>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" value="MAIN BRANCH" disabled readonly><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">BUSINESS DATE</label><br>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" value="12/01/2022" disabled readonly><br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-3">
          <label class="form-label">MENU</label>
        </div>
        <div class="col-6">
          <input class="form-control" type="text" aria-label="Search" name="menu">
        </div>
        <div class="col-3">
            <button mat-raised-button class="btn bg-success go mx-auto d-block text-light"  type="submit">OK</button>
        </div>
      </div>
      <div class="row">
        <div class="col-3 offset-9">
          <button type="button" (click)="getCustomers()" mat-raised-button color="warn" class="btn go mx-auto d-block">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
