<mat-card class="container-fluid">
    <div>
        <h3  class="text-center">Add A Savings Product</h3>
    </div>
    
    <mat-divider></mat-divider>
    <form class="form" (ngSubmit)="saveSavings()">
      <mat-tab-group>
          <mat-tab label="Product Details">
      
            <div class="container-fluid mt-4 mb-2">
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Scheme Code<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="schemeCode" [(ngModel)]="schemeCode" maxlength="6" oninput ="this.value=this.value.toUpperCase()"
                       type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Product Description<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input type="text" name="productDescription" [(ngModel)]="productDescription"  oninput ="this.value=this.value.toUpperCase()"
                       class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Branch Code<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input readonly name="solCode" [(ngModel)]="solCode"
                       type="text" class="form-control" />
                    </div>
                    <div class="col-md-1 col-2">
                      <mat-icon (click)="branchLookup()">search</mat-icon>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Interest Code<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input readonly name="interestCode" [(ngModel)]="interestCode"
                       type="text" class="form-control" />
                    </div>
                    <div class="col-md-1 col-2">
                      <mat-icon (click)="interestLookup()">search</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Statement Frequency<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="acctStatementFrequency" [(ngModel)]="acctStatementFrequency"
                       type="date" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Inactive After(Days)<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="durationToInactivity" [(ngModel)]="durationToInactivity"
                       type="number" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Number of Withdrawals<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="noOfWithdrawals" [(ngModel)]="noOfWithdrawals"
                       type="number" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Dormant to Inactive (Days)<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input  name="durationFromDormancyToInactivity" [(ngModel)]="durationFromDormancyToInactivity"
                       type="number" class="form-control" />
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Debit Balance Limit<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="drBalanceLimit" [(ngModel)]="drBalanceLimit"
                       type="number" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Minimum Balance(Cheque)<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input  name="minimumBalanceWithCheque" [(ngModel)]="minimumBalanceWithCheque"
                       type="number" class="form-control" />
                    </div>

                  </div>
                </div>
              </div>



          </div>
              
          </mat-tab>
          <mat-tab label="Charges">
            <div class="container-fluid mt-4 mb-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column">
                      <label class="form-label start pull-left"
                        >Dormant Fee<span class="warning">*</span></label
                      >
                    </div>
                    <div class="col-md-6 col-8 form-column">
                      <input
                        name="dormantFeeCharge"
                        [(ngModel)]="dormantFeeCharge"
                        type="number"
                        
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column">
                      <label class="form-label start pull-left"
                        >Inactive Fee<span class="warning">*</span></label
                      >
                    </div>
                    <div class="col-md-6 col-8 form-column">
                      <input
                        name="inactiveFeeCharge"
                        [(ngModel)]="inactiveFeeCharge"
                        type="number"
                        
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column">
                      <label class="form-label start pull-left"
                        >Ledger Fee<span class="warning">*</span></label
                      >
                    </div>
                    <div class="col-md-6 col-8 form-column">
                      <input
                        type="number"
                        [(ngModel)]="ledgerFee"
                        name="ledgerFee"
                        
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column">
                      <label class="form-label start pull-left"
                        >Extra Withdrawal Fee<span class="warning">*</span></label
                      >
                    </div>
                    <div class="col-md-6 col-8 form-column">
                      <input
                        type="number"
                        [(ngModel)]="extraWithdrawalFee"
                        name="extraWithdrawalFee"
                        
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Submission">
            <div class="row container-fluid mt-4 mb-2">
              <div class="col-md-1 offset-md-10 col-4">
            <button mat-raised-button color="warn" class="btn go mx-auto d-block" type="reset">Reset</button>
              </div>
        
              <div class="col-md-1 col-4">
            <button mat-raised-button class="btn bg-success go mx-auto d-block text-light" type="submit">Submit</button>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
      
      </form>
</mat-card>