<mat-card class="container-fluid">
    <div>
        <h3  class="text-center">Add A Corporate Customer</h3>
    </div>
    
    <mat-divider></mat-divider>
    <form class="form" (ngSubmit)="addCorporate()">
      <mat-tab-group>
          <mat-tab label="Product Details">
      
            <div class="container-fluid mt-4 mb-2">
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Organisation Name <span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="organisationName" [(ngModel)]="organisationName" maxlength="6" oninput ="this.value=this.value.toUpperCase()"
                       type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Short Name<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input type="text" name="shortName" [(ngModel)]="shortName"  oninput ="this.value=this.value.toUpperCase()"
                       class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Sector<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input  name="corporateSegment" [(ngModel)]="corporateSegment"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Sub Sector<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="subSegment" [(ngModel)]="subSegment"
                       type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Head Office <span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="headOffice" [(ngModel)]="headOffice"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Region<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="region" [(ngModel)]="region"
                       type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Incorporation Date<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="inCorporationDate" [(ngModel)]="inCorporationDate"
                       type="date" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Registration Number<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input  name="registrationPin" [(ngModel)]="registrationPin"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">KRA Pin<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="kraPin" [(ngModel)]="kraPin"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Contact Person<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input  name="contactPersonName" [(ngModel)]="contactPersonName"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-5 col-sm-12 form-column ">
                      <label class="form-label start pull-left">Legal Entity Type<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-8 form-column ">
                      <input name="legalEntityType" [(ngModel)]="legalEntityType"
                       type="text" class="form-control" />
                    </div>

                  </div>
                </div>
              </div>

          </div>
              
          </mat-tab>
          <mat-tab label="Submission">
            <div class="row container-fluid mt-4 mb-2">
              <div class="col-md-1 offset-md-10 col-4">
            <button mat-raised-button color="warn" class="btn go mx-auto d-block" type="reset">Reset</button>
              </div>
        
              <div class="col-md-1 col-4">
            <button mat-raised-button class="btn bg-success go mx-auto d-block text-light" type="submit">Submit</button>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
      
      </form>
</mat-card>