  <mat-card class="container-fluid">
    <mat-card-header>
      <div>param Maintainance</div>
    </mat-card-header>
    <mat-divider></mat-divider>
  
    <div class="container-fluid mt-4">
      <form class="form">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <div class="col-md-6 col-12 form-column">
                <label class="start pull-left"
                  >Function<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <select (change)="onTabClick($event)">
                  <option value="" disabled>-- Choose Function --</option>
                  <option value=1>ADD</option>
                  <option value=2>INQUIRE</option>
                  <option value=3>MODIFY</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="col-md-2">
            <button
              mat-raised-button
              color="primary"
              class="btn go mx-auto d-block"
              type="button"
              (click)="navigate()"
            >
              GO
            </button>
          </div>
        </div>
  
        <br />
      </form>
    </div>
  </mat-card>
  
  