<mat-card class="cointainer-fluid">
    <div><h3 class="text-center">Delete a GL Subhead</h3></div>
    <mat-divider></mat-divider>
    <form action="" (ngSubmit)="deleteSubGl()">
        <div class="form">
            <div class="container-fluid mt-4">
                <div class="row">
                   <div class="form-group row">
                    <div class="col-md-6">
                        <div class="col-md-5 col-sm-8 form-column">
                            <label for="" class="form-label start pull-left readonly"> Gl Code<span class="warning">*</span></label>
                        </div>
                        <div class="col-md-6 cols-8 form-column">
                            <input readonly name="glCode" value ="{{this.subhead.entity.glCode}}" type="text" class="form-control" />
  
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="form-label start pull-left"> GlSubhead Code<span class="warning">*</span></label>
                        </div>
                        <div class="col-md-5 col-sm-8 form-column">
                            <input readonly name="glCode" value ="{{this.subhead.entity.glSubheadCode}}" type="text" class="form-control" /> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5 col-sm-12 form-column">
                            <label for="" class="form-label start pull-left">Gl Subheads Description<span class="warning">*</span></label>
    
                        </div>
                        <div class="col-md-6 col-8 form-column">
                            <input readonly name="glCode" value ="{{this.subhead.entity.glSubheadDescription}}" type="text" class="form-control" />
                          </div>
                    </div>
                   </div>
                </div>
                </div>
                
            <div class="row container-fluid mt-4">
                <div class="col-md-1 offset-md-10 col-4">
                 
                </div>
        
                <div class="col-md-12 col-12">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Delete
                   </button>

                <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Do you wish to delete the data ?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            
        </div>
      
          
    </form>


</mat-card>


